## import and merge

In [1]:

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [5]:
fundamentals =pd.read_csv('../data/fundamentals.csv')

In [6]:
fundamentals_group = fundamentals.groupby ( 'Ticker Symbol')

In [7]:
fundamentals_group.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1776,1776,ZION,2015-12-31,0.000000e+00,0.0,-2.530000e+06,4.0,-1.573610e+08,0.000000e+00,NaN,...,0.000000e+00,0.000000e+00,7.507519e+09,5.216201e+10,5.966952e+10,2.210591e+09,0.0,2015.0,1.20,2.578925e+08
1777,1777,ZTS,2013-12-31,1.381000e+09,-99000000.0,9.000000e+06,54.0,-1.840000e+08,8.780000e+08,43.0,...,3.357000e+09,1.415000e+09,9.400000e+08,5.618000e+09,6.558000e+09,4.561000e+09,0.0,2013.0,1.01,4.990099e+08
1778,1778,ZTS,2014-12-31,1.071000e+09,69000000.0,-7.000000e+06,44.0,-1.800000e+08,9.580000e+08,81.0,...,3.465000e+09,1.086000e+09,1.311000e+09,5.277000e+09,6.588000e+09,4.785000e+09,0.0,2014.0,1.16,5.025862e+08
1779,1779,ZTS,2015-12-31,1.313000e+09,-58000000.0,-8.100000e+07,32.0,-2.240000e+08,1.012000e+09,65.0,...,3.830000e+09,1.781000e+09,1.068000e+09,6.845000e+09,7.913000e+09,4.765000e+09,-203000000.0,2015.0,0.68,4.985294e+08
1780,1780,ZTS,2016-12-31,1.076000e+09,15000000.0,2.000000e+06,55.0,-2.160000e+08,1.024000e+09,65.0,...,3.390000e+09,1.117000e+09,1.487000e+09,6.162000e+09,7.649000e+09,4.888000e+09,-421000000.0,NaN,NaN,NaN

In [8]:
fundamentals_clean =fundamentals.set_index('Ticker Symbol').loc[ 
           : , 
            ['Period Ending', 'Net Income','Profit Margin' ,'Quick Ratio' ,'Total Assets', 
             'Total Liabilities', 'Earnings Per Share', 'Estimated Shares Outstanding' ]
]

In [9]:
def clean_date(date):
    if len(date) > 10: 
        clean_date= date[:10]
    else: 
        clean_date= date
    return clean_date

assert clean_date('2016-12-30 00:00:00') == '2016-12-30'
assert clean_date('2016-11-06 00:00:00') == '2016-11-06'
assert clean_date( '2016-12-30')=='2016-12-30'

In [10]:
fundamentals_clean['Period Ending'] = fundamentals_clean['Period Ending'].apply(clean_date)

In [11]:
final_fund =fundamentals_clean.loc[(fundamentals_clean['Period Ending'] == '2015-12-31') ]

In [12]:
final_fund.index.name = 'symbol'

In [13]:
final_fund

,Period Ending,Net Income,Profit Margin,Quick Ratio,Total Assets,Total Liabilities,Earnings Per Share,Estimated Shares Outstanding
symbol,,,,,,,,
AAL,2015-12-31,7.610000e+09,19.0,67.0,4.841500e+10,4.278000e+10,11.39,6.681299e+08
ABBV,2015-12-31,5.144000e+09,23.0,134.0,5.305000e+10,4.910500e+10,3.15,1.633016e+09
ABT,2015-12-31,4.423000e+09,22.0,126.0,4.124700e+10,2.003600e+10,2.94,1.504422e+09
ADM,2015-12-31,1.849000e+09,3.0,101.0,4.015700e+10,2.224200e+10,2.99,6.183946e+08
ADS,2015-12-31,5.965410e+08,9.0,254.0,2.242183e+10,2.041180e+10,8.91,6.695185e+07
...,...,...,...,...,...,...,...,...
XYL,2015-12-31,3.400000e+08,9.0,191.0,4.657000e+09,2.573000e+09,1.88,1.808511e+08
YHOO,2015-12-31,-4.359082e+09,88.0,588.0,4.520397e+10,1.616043e+10,-4.64,9.394573e+08
ZBH,2015-12-31,1.470000e+08,2.0,223.0,2.721950e+10,1.733160e+10,0.78,1.884615e+08
ZION,2015-12-31,3.094710e+08,14.0,NaN,5.966952e+10,5.216201e+10,1.20,2.578925e+08
ZTS,2015-12-31,3.390000e+08,7.0,133.0,7.913000e+09,6.845000e+09,0.68,4.985294e+08

In [14]:
prices= pd.read_csv('../data/prices.csv') 
prices.head()

,date,symbol,open,close,low,high,volume
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

In [15]:
prices_index =prices.set_index('symbol').loc[ 
           : , 
            ['date', 'close' ]
]

In [17]:
 prices_index['date'] = prices_index['date'].apply(clean_date)

In [18]:
final_prices = prices_index.loc[(prices_index['date'] == '2015-12-30') ]

In [19]:
final_prices

              date       close
symbol
A       2015-12-30   42.169998
AAL     2015-12-30   42.799999
AAP     2015-12-30  151.399994
AAPL    2015-12-30  107.320000
ABBV    2015-12-30   59.799999
...            ...         ...
YUM     2015-12-30   73.810003
ZBH     2015-12-30  102.470001
ZION    2015-12-30   27.469999
ZTS     2015-12-30   48.259998
AIV     2015-12-30   40.360001

[499 rows x 2 columns]

In [20]:
Final_data_df =pd.merge(
    left = final_fund ,
    right= final_prices['close'] ,
    how="inner",
    left_index= True ,
    right_index = True
)

In [21]:
pwd

'C:\\Users\\Moe Naimi\\OneDrive\\Desktop\\USCbootcamp\\Class Homework\\stocks\\stock-research\\notebook'

In [22]:
Final_data_df.to_csv("../data/stocks_closing_info_2015.csv")